<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="jdbc">
	<insert parameterType="LprodVo" id="insertJdbc">
		insert into lprod values((select nvl(max(lprod_id),0)+1 from lprod),#{lprod_gu},#{lprod_nm})
	</insert>
	
	<select parameterType="String" resultType="int" id="selectJdbc">
		select count(*) from lprod where lprod_gu = #{lprod_gu}
	</select>
</mapper>