<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis의 환경 설정 파일 -->
<!DOCTYPE configuration 
		PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 연결할 DB정보를 갖고 있는 properties파일 지정하기 -->
	<properties resource="kr/or/ddit/mybatis/config/dbinfo.properties"/>
	
	<settings>
		<!-- 데이터가 null로 전달이 되면 빈칸으로 인지 말고 null로 인식하라.. -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<!-- 
			VO객체를 사용할 때는 패키지명까지 포함된 전체 이름을 사용해야 하는데
			이렇게 되면 전체 이름이 길어지게 된다.
			긴 전체 이름 대신 짧은 이름으로 대체해서 사용하고자 할 때 설정한다.
		형식) <typeAlias type="패키지명까지 포함된 전체 이름" alias="alias명"/>
		 -->
		 <typeAlias type="kr.or.ddit.basic.json.LprodVO" alias="LprodVo"/>
		 <typeAlias type="kr.or.ddit.basic.upload.vo.FileinfoVO" alias="FileVO"/>
	</typeAliases>
	
	<!-- DB에 연결 설정하기 -->
	<environments default="oracleDev"><!--환경 설정 여러개 있을때 사용하고싶은 db아이디를 default에 적어놓는다. -->
		<environment id="oracleDev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/><!-- value 에는 properties 파일에 키값을 적는다. -->
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pass}"/>
			</dataSource>	
		</environment>
	</environments>
	
	<!-- DB에 사용되는 SQL문들이 작성된 mapper파일을 등록한다. -->
	<mappers>
		<!--
		형식) <mapper resource="경로명/파일명.xml"/>
		  -->
		<mapper resource="kr/or/ddit/mybatis/mappers/lprod-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mappers/fileinfo-mapper.xml"/>
	</mappers>
	
</configuration>
		
